<!DOCTYPE html>
<html lang="en">
  <head data-tid="<%= new Date().valueOf() %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mind Body and Sole, Near Leeds Relax Reconnect Restore Rebalance Empowering health through harmony">
    <meta name="author" content="Mind Body and Sole">
    <meta name="theme-color" content="#9dc7b3"/>
    <meta name="msapplication-navbutton-color" content="#9dc7b3"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent"/>

    <title>Mind Body and Sole - Relax Reconnect Restore Rebalance Empowering health through harmony.</title>
    <!-- Custom Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" href="<%= require('./img/apple-touch-icon.png').default %>" sizes="180x180">
    <link rel="icon" href="<%= require('./img/favicon-16x16.png').default %>" sizes="16x16">
    <link rel="icon" href="<%= require('./img/favicon-32x32.png').default %>" sizes="32x32">
    <link rel="shortcut icon" href="<%= require('./img/favicon.ico').default %>">
    <script>
      document.documentElement.classList.add('js');if (typeof HTMLDialogElement !== 'function') {document.documentElement.classList.add('unsupported');}
    </script>
  </head>

  <body>
    <nav id="mainNav">
        <a id="home" href="#"><span class="sr-only">Home</span></a>
        <button id="navButton" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
        </button>
        <div id="navBar">
          <ul>
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#reflexology">Reflexology</a>
            </li>
            <li>
              <a class="page-scroll" href="#reiki">Reiki</a>
            </li>
            <li>
              <a class="page-scroll" href="#eft">EFT</a>
            </li>
            <li>
              <a class="page-scroll" href="#indheadmassage">Indian Head Massage</a>
            </li>
            <li>
              <a class="page-scroll" href="#price-list">Price list</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
    </nav>

    <div id="unsupported">Unfortunately your browser does not support by this website.  Please ensure you are using an up to date version of Chrome/Edge/Safari/FireFox.</div>

    <header id="page-top">
      <div class="header-content">
        <div class="header-content-inner">
          <h1>mind body & sole</h1>
        </div>
      </div>
    </header>

    <section id="main-content">
      <div id="about" class="container">
        <div class="container-header">
          <div class="copy">
            <h2>About</h2>
            <p>Welcome to mind body and sole holistics. Based in Biggin, not far from Leeds and York I am a home-based therapist offering clinical reflexology, Reiki Healing and EFT (Emotional Freedom Technique). I have a diploma in clinical reflexology at VTCT Level 3 and I am a member of the Association of Reflexologists. I am a fully qualified Reiki Master and this is something I personally practise every day. I am also an EFT practitioner having completed levels 1 &amp; 2 and the full certification programme through EFT international of which I am also a member. I have always had a passion for holistic therapies as they consider the 'whole person' and integrate mind, body, spiritual and emotional forms of well-being in the quest for optimal health.</p>
          </div>
        </div>
      </div>

      <div id="reflexology" class="container">
        <div class="container-header reverse">
          <div class="copy">  
            <h2>Reflexology</h2>
            <p>Reflexology is an ancient practice originating from Egypt, India, and China and made its way to the west in the early 1900s. It aims to bring about a state of relaxation and help the body's own healing process. The main theory behind reflexology is that all the systems and organs of the body are mapped or reflected in smaller peripheral areas such as on the zones of the feet, the hands, ears and face. By working these areas and applying gentle pressure the aim is to restore balance facilitating the body's natural ability to optimise health and well-being. This treatment is also very effective in promoting deep relaxation and reducing stress.</p>
            <p><a href="https://www.aor.org.uk/" target="_blank"><span class="sr-only">Association for reflexology</span><span class="icon aor"></span></a></p>
          </div>
        </div>
      </div>

      <div id="reiki" class="container">
        <div class="container-header">
          <div class="copy">
            <h2>Reiki</h2>
            <p>“Reiki” is Japanese for 'universal life energy.'' This tradition was founded by Mikao Usui in the early 20th century and is an energy healing technique that promotes relaxation, reduces stress and anxiety through gentle touch. Treatment is given by placing hands gently on different areas of your body holding each position as energy flows. The hand positions are non-intrusive and are sometimes varied to allow Reiki energy to flow to areas where it is specifically needed. You may feel sensations such as heat, cold, tingling, see colours, feel emotional or you may feel very little. There is no right or wrong way to experience Reiki. Many people experience a sense of well-being and relaxation, some people even fall asleep. You take what you need from it, the practitioner simply is a channel for the energy to flow through. Most people feel very relaxed and at peace after a Reiki treatment.</p>
          </div>
        </div>
      </div>

      <div id="eft" class="container">
        <div class="container-header reverse">
          <div class="copy">
            <h2>EFT</h2>
            <p>Emotional Freedom Technique is a meridian based therapy that draws on the traditional chinese medicine practice of acupuncture (without the needles). It is sometimes referred to as 'energy psychology' as it has both a psychological and an energetic component. It involves tapping key acupressure points on the hands, face, and body with your fingertips while focusing on and verbalising an uncomfortable emotion, belief or concerns, at the same time using positive affirmations to help to neutralise those feelings. Lightly tapping these points helps to move energy around the system and rebalances any disruption in energy flow. This process reduces stress and anxiety, increases mind body awareness and encourages cognitive shifts. EFT can be applied to anxieties, fears, phobias, anger, low self-esteem, PTSD, relationship issues, painful memories and much more.</p>
            <p><a href="https://eftinternational.org/" target="_blank"><span class="sr-only">EFT international</span><span class="icon eft"></span></a></p>
          </div>
        </div>
      </div>

      <div id="indheadmassage" class="container">
        <div class="container-header">
          <div class="copy">
            <h2>Indian Head Massage</h2>
            <p>Indian Head Massage is a relaxing treatment that focuses on massaging acupressure points on the head, neck and shoulders. These areas are often prone to stress and tension. The treatment is based on the ayurvedic system of healing and and has been practised in India for thousands of years. The practice was brought to England in the 1970's by Narendra Mehta who travelled to the West to study physiotherapy and was disappointed to see that massage did not include the head which he knew from personal experience has great benefits. He returned to India to study this in more detail and on his return began to teach the techniques and benefits of Indian Head Massage.</p>
            <p>Traditionally this treatment is done seated, but I find it more relaxing to lie down particularly if this is then followed by another treatment. Oil is applied to the hair but this can be also be done without the use of oil.</p>
            <p>The primary aim of Indian Head Massage is to promote good health and general well-being and it may help relieve stress and reduce tension. It may also ease migraine or headache pain, lower blood pressure, improve circulation to your head and neck, and promote hair growth.</p>
          </div>
        </div>
      </div>

      <div id="price-list" class="container">
        <div class="container-header">
          <div class="copy">
            <h2>Price List</h2>
            <ul>
              <li>Reflexology £45 (1 hour)</li>
              <li>Reiki £40 (50 minutes)</li>
              <li>EFT £50 (1 hour)</li>
              <li>Reiki infused reflexology £65 (1 hour 25 minutes)</li>
              <li>Reiki & EFT £75 (1 hour 30 minutes)</li>
              <li>Indian Head Massage £30 (30 minutes)</li>
              <li>Indian Head Massage and Reflexology £65 (1 hour and 25 minutes)</li>
            </ul>
            <p>If you would like to purchase a gift voucher please <a href="#contact-us">get in touch</a>.</p>
            <p>Gift vouchers can be emailed or posted out to you.</p>
          </div>
        </div>
      </div>

      <div id="contact" class="container">
        <div class="container-header reverse">
          <div class="copy">  
            <h2>Contact</h2>
            <p>Oxmoor Lane<br/>
              Biggin LS25 6HJ<br/>
              North Yorkshire
            </p>
            <p><a href="#map" class="dialog-opener" aria-controls="map">Map Location</a></p>
            <p>Telephone <a href="tel:07793388043">07793&nbsp;388043</a></p>
            <p>Email: <a href="mailto:mindbodyandsoleholistics@gmail.com" target="_blank">mindbodyandsoleholistics@gmail.com</a></p>
            <p>Booking: <a href="https://bookings.gettimely.com/mindbodyandsoleholistics/bb/book" title="Book a appointment" target="_blank">Online<span class="sr-only"> booking - opens in a new window</span></a>.</p>
            <p>I am also available on Monday afternoons at York Natural Health in Acomb, York. Appointments can be booked online <a title="York Natural Health" href="https://yorknaturalhealth.neptune.practicehub.io/p/booking" target="_blank">here<span class="sr-only"> in a new window</span></a>.</p>
            <p><strong>If you have any questions or would like to book an appointment, please give me a call, message me or send me an email. I look forward to working with you to help to create balance and harmony in your life.</strong></p>
            <ul class="socials">
              <li><a class="instagram" href="https://www.instagram.com/mind_bodyandsoleholistics" target="_blank"><span class="sr-only">Follow us on Instagram</span></a></li>
              <li><a class="facebook" href="https://www.facebook.com/profile.php?id=61556719977400" target="_blank"><span class="sr-only">Follow us on Facebook</span></a></li>
            </ul>
            <p>Please see our <a class="dialog-opener" aria-controls="cancellation" href="#">cancellation policy</a>.</p>
            <dialog id="cancellation">
              <button class="dialog-closer" aria-label="Close">&#10799;</button>
              <h2>Cancellation Policy</h2>
              <ul>
                <li>If you are unable to attend your appointment, please provide at least 48 hours notice. Anything less will be charged in full.</li>
                <li>Cancellations should be made by a phone call, message or email.</li>
                <li>Contraindications - please let me know of any special medical conditions at the time of booking. Failure to advise of these conditions in advance could result in not being able to treat you and will be subject to the full charge.</li>
                <li>Unfortunately, if you arrive late to your session it will be shortened so that the next client can be seen at their allocated appointment time and you will still be charged for the full session.</li>
              </ul>
              <p>Thank you for your understanding.</p>
            </dialog>
            <dialog id="map">
              <button class="dialog-closer" aria-label="Close">&#10799;</button>
              <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/view?zoom=14&center=53.8068%2C-1.1739&key=AIzaSyDIVNaxhtjady0qk7hbH3Z1E7RBxxecL8g"></iframe>
            </dialog>
          </div>
        </div>
      </div>
  
      <dialog id="credits">
        <button class="dialog-closer" aria-label="Close">&#10799;</button>
        <h2>Credits</h2>
        <ul>
          <li><a href="https://www.freepik.com/free-photo/woman-receiving-foot-massage-service-from-masseuse-close-up-hand-foot-relax-foot-massage-therapy-service-concept_5073587.htm#query=Reflexology&position=0&from_view=search&track=sph&uuid=57d5e882-9c40-46de-a56f-1831a1449fdc">Image by jcomp</a> on Freepik</li>
          <li><a href="https://www.freepik.com/free-photo/foot-massage-woman-spa_5953927.htm#query=Reflexology&position=25&from_view=search&track=sph&uuid=b02612ce-55fb-48c1-a651-0b5ecb5bb9e9">Image by Racool_studio</a> on Freepik</li>
          <li><a href="https://www.freepik.com/free-photo/woman-hand-holding-smart-phone-blank-screen-copy-space-hand-holding-smartphone-isolated-white-background_1275481.htm#query=contact&position=35&from_view=search&track=sph&uuid=811057e3-24b5-48bb-9648-78e5ea2f84d1">Image by jcomp</a> on Freepik</li>
          <li><a href="https://www.freepik.com/free-ai-image/young-woman-enjoys-serene-meadow-sunrise-generated-by-ai_43283918.htm">Image by vecstock on Freepik</a></li>
          <li>Image by <a href="https://www.freepik.com/free-photo/woman-asking-questions-interview_16132776.htm#query=Counselling%20notebook&position=8&from_view=search&track=ais&uuid=09843cc2-8514-466d-be36-742919e19f6b">Freepik</a></li>
          <li>Image by <a href="https://www.freepik.com/free-photo/person-conducting-reiki-therapy_26387179.htm#query=Reiki&position=2&from_view=search&track=sph&uuid=61f050c0-0361-4c4d-8249-b264b619be4c#position=2&query=Reiki">Freepik</a></li>
          <li><a href="https://www.freepik.com/free-photo/young-woman-typing-smart-phone-indoors-generated-by-ai_42663859.htm#page=3&query=Contact%20us&position=25&from_view=search&track=ais&uuid=53979552-5c6d-4318-8fc7-62e214b8412c">Image by vecstock</a> on Freepik</li>
          <li><a href="https://www.freepik.com/free-ai-image/beautiful-young-woman-having-facial-massage-spa-salon-beauty-treatment-concept_88971050.htm#fromView=search&amp;page=10&amp;position=43&amp;uuid=0ccca178-ee23-4394-872f-ba1546f95e28">Image by flatart on Freepik</a></li>
          <li>Site design and build by <a href="https://glennrobinsononline.com" target="_blank">Glenn Robinson</a></li>
        </ul>
      </dialog>
      <footer class="credits">
        &copy;2024 Mind Body and Sole. <a href="#" aria-controls="credits" class="dialog-opener">Credits</a>
      </footer>
    </section>
  </body>
</html>
