<!DOCTYPE html>
<html lang="en">
  <head data-tid="<%= new Date().valueOf() %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mind Body and Sole, Near Leeds Relax Reconnect Restore Rebalance Empowering health through harmony">
    <meta name="author" content="Mind Body and Sole">
    <meta name="theme-color" content="#262626"/>
    <meta name="msapplication-navbutton-color" content="#262626"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="robots" content="noimageindex, nofollow, nosnippet">

    <title>Mind Body and Sole - Relax Reconnect Restore Rebalance Empowering health through harmony.</title>
    <!-- Custom Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" href="<%= require('./img/apple-touch-icon.png').default %>" sizes="180x180">
    <link rel="icon" href="<%= require('./img/favicon-16x16.png').default %>" sizes="16x16">
    <link rel="icon" href="<%= require('./img/favicon-32x32.png').default %>" sizes="32x32">
    <link rel="shortcut icon" href="<%= require('./img/favicon.ico').default %>">
    <script>
      document.documentElement.classList.add('js');
    </script>
  </head>

  <body>
    <nav id="mainNav">
        <a id="home" href="#"><span class="sr-only">Home</span></a>
        <button id="navButton" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
        </button>
        <div id="navBar">
          <ul>
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#reflexology">Reflexology</a>
            </li>
            <li>
              <a class="page-scroll" href="#reiki">Reiki</a>
            </li>
            <li>
              <a class="page-scroll" href="#eft">EFT</a>
            </li>
            <li>
              <a class="page-scroll" href="#price-list">Price list</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact-us">Contact us</a>
            </li>
          </ul>
        </div>
    </nav>

    <header id="page-top">
      <div class="header-content">
        <div class="header-content-inner">
          <h1>mind body & sole</h1>
        </div>
      </div>
    </header>

    <section id="main-content">
      <div id="about" class="container">
        <div class="container-header">
          <div class="copy">
            <h2>About us</h2>
            <p>Welcome to Mind Body and Sole Holistics. Thank you for visiting my website. Based in Biggin, not far from Leeds and York I am a home-based therapist offering clinical reflexology, Usai Reiki Healing and EFT (Emotional Freedom Technique). I have a diploma in clinical reflexology at VTCT Level 3 and I am a member of the Association of Reflexologists. I am a fully qualified Usai Reiki Master and this is something I personally practise every day. I am also an EFT practitioner having completing levels 1 &amp; 2 and the full certification programme through EFT international of which I am also a member. I have always had a passion for holistic therapies as they consider the 'whole person' and integrate mind, body, spiritual and emotional forms of well-being in the quest for optimal health.</p>
          </div>
        </div>
      </div>

      <div id="reflexology" class="container">
        <div class="container-header reverse">
          <div class="copy">  
            <h2>Reflexology</h2>
            <p>Reflexology is an ancient practice originating from Egypt, India, and China and made its way to the western world in the early 1900s. Reflexology is a technique that applies gentle pressure generally to your feet. It aims to bring about a state of relaxation and help the body's own healing process. Reflexology works in a similar way to acupressure and acupuncture and the main theory behind reflexology is that all the systems and organs of the body are mapped or reflected in smaller peripheral areas such as on the zones of the feet (and even the hands, ears and face). By working these areas the aim is to restore balance facilitating the body's natural ability to optimize health and well-being. This treatment is extremely relaxing and allows you to switch.</p>
          </div>
        </div>
      </div>

      <div id="reiki" class="container">
        <div class="container-header">
          <div class="copy">
            <h2>Usai Reiki</h2>
            <p>“Reiki” is Japanese for 'universal life energy.'' This tradition was founded by Mikao Usui in the early 20th century and is an energy healing technique that promotes relaxation, reduces stress and anxiety through gentle touch. Treatment is given by placing hands gently on different areas of your body holding each position as energy flows. The hand positions are non-intrusive and are sometimes varied to allow Reiki energy to flow to areas where it is specifically needed. You may feel sensations such as heat, cold, tingling, see colours, feel emotional or you may feel very little. There is no right or wrong way to experience Reiki. Many people experience a sense of well-being and relaxation, some people even fall asleep. You take what you need from it, the practitioner simply is a channel for the energy to flow through. Most people feel very relaxed and at peace after a Reiki treatment.</p>
          </div>
        </div>
      </div>

      <div id="eft" class="container">
        <div class="container-header reverse">
          <div class="copy">
            <h2>EFT</h2>
            <p>Emotional Freedom Technique is a meridian based therapy that draws on the traditional chinese medicine practice of acupuncture (without the needles). It involves tapping key acupressure points on the hands, face, and body with your fingertips while focusing on uncomfortable feelings or concerns, and using positive affirmations to neutralize those feelings. Lightly tapping these points helps to move energy around the system. This process reduces stress and anxiety, increases mind body awareness and fosters cognitive shifts. EFT can be applied to anxieties, fears, phobias, anger, low self-esteem, PTSD, relationship issues, painful memories and much more.</p>
          </div>
        </div>
      </div>

      <div id="price-list" class="container">
        <div class="container-header">
          <div class="copy">
            <h2>Pricelist</h2>
            <ul>
              <li>Reflexology £45 (1 hour)</li>
              <li>Reiki £40 (50 minutes)</li>
              <li>EFT £50 (1 hour)</li>
              <li>Reiki infused reflexology £65 (1 hour 25 minutes)</li>
            </ul>
          </div>
        </div>
      </div>

      <div id="contact-us" class="container">
        <div class="container-header reverse">
          <div class="copy">  
            <h2>Contact us</h2>
            <p>Oxmoor Lane<br/>
              Biggin LS25 6HJ<br/>
              North Yorkshire
            </p>
            <p>Telephone <a href="tel:07793388043">07793&nbsp;388043</a></p>
            <p>Email: <a href="mailto:mindbodyandsoleholistics@gmail.com">mindbodyandsoleholistics@gmail.com</a></p>
            <p><strong>If you have any questions or would like to book an appointment, please give me a call, message me or send me an email. I look forward to working with you to help to create balance and harmony in your life.</strong></p>
            <p>Please see our <a id="open_cancellation" href="#">cancellation policy</a>.</p>
            <dialog id="cancellation">
              <button id="close_cancellation" aria-label="Close">&#10799;</button>
              <h2>Cancellation Policy</h2>
              <ul>
                <li>If you are unable to attend your appointment, please provide at least 24 hours notice. Anything less will be charged in full.</li>
                <li>Cancellations should be made by a phone call, message or email.</li>
                <li>Contraindications - please let me know of any special medical conditions at the time of booking. Failure to advise of these conditions in advance could result in not being able to treat you and will be subject to the full charge.</li>
                <li>If you arrive late to your session it will be shortened so that the next client can be seen at their allocated appointment time and you will still be charged for the full session.</li>
              </ul>
              <p>Thank you for your understanding.</p>
            </dialog>
          </div>
        </div>
      </div>

      <div id="map" class="container">
        <div class="container-header map">
          <gmp-map center="53.80797576904297,-1.1751539707183838" zoom="14" map-id="DEMO_MAP_ID">
            <gmp-advanced-marker position="53.80797576904297,-1.1751539707183838" title="My location"></gmp-advanced-marker>
          </gmp-map>
        </div>
      </div>
    
    </section>
  </body>
  <script async src="https://maps.googleapis.com/maps/api/js?key=<%= mapsAPIKey %>callback=console.debug&libraries=maps,marker&v=beta"></script>
</html>
